AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
BUCKET_NAME=
MONGO_URI=mongodb://localhost:27017/
FRONTEND_URI=https://localhost:3004
SMTP_USER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASSWORD=
RESET_TOKEN_EXPIRY=300
